# Example environment variables for deployment
PORT=8000
CORS_ORIGIN=

# PostgreSQL
DB_USER=nassor_admin
DB_PASSWORD=wataru
DB_HOST=localhost
DB_PORT=5432
DB_NAME=livestock_db
DB_MAX_CLIENTS=10
DB_IDLE_TIMEOUT=30000

# MQTT
MQTT_BROKER=mqtt://broker:1883
MQTT_TOPIC=livestock/data
